<?xml version="1.0"?>
<config>
    <modules>
        <VS7_CustomerMerge>
            <version>0.1.0</version>
        </VS7_CustomerMerge>
    </modules>
    <global>
        <models>
            <vs7_customermerge>
                <class>VS7_CustomerMerge_Model</class>
                <resourceModel>vs7_customermerge_resource</resourceModel>
            </vs7_customermerge>
            <vs7_customermerge_resource>
                <class>VS7_CustomerMerge_Model_Resource</class>
                <entities>
                    <customer>
                        <table>vs7_customermerge</table>
                    </customer>
                </entities>
            </vs7_customermerge_resource>
        </models>
        <blocks>
            <vs7_customermerge>
                <class>VS7_CustomerMerge_Block</class>
            </vs7_customermerge>
        </blocks>
        <resources>
            <vs7_customermerge_setup>
                <setup>
                    <module>VS7_CustomerMerge</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_customermerge_setup>
            <vs7_customermerge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_customermerge_write>
            <vs7_customermerge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_customermerge_read>
        </resources>
        <helpers>
            <vs7_customermerge>
                <class>VS7_CustomerMerge_Helper</class>
            </vs7_customermerge>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VS7_CustomerMerge after="Mage_Adminhtml">VS7_CustomerMerge_Adminhtml</VS7_CustomerMerge>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vs7_customermerge>
                    <file>vs7_customermerge.xml</file>
                </vs7_customermerge>
            </updates>
        </layout>
    </adminhtml>
</config>